body {
    padding-top: 45px;
    padding-bottom: 40px;
}
.container > .footer > p {
    text-align: center;
}
.center {
    text-align: center;
}
.centerButton {
    text-align: center;
    padding-top: 80px;
}
td.action {
    width:100px;
}

@import "../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/mopabootstrapbundle.less";

// Variables
@link-color : #c0d860;

@navbar-inverse-bg : #607848;
@navbar-inverse-border : #789048;
@navbar-inverse-brand-hover-color : #222;
@navbar-inverse-link-active-bg : #789048;
@navbar-inverse-link-color : #fff;
@navbar-inverse-link-hover-color : #222;
@navbar-inverse-link-active-color : #fff; 

@dropdown-link-hover-bg : #c0d860;
@dropdown-link-active-bg : #789048;

@badge-bg : #c0d860;