{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Profile - Password{% endblock title %}

{% block headline %}{{ breadcrumb(['Admin', 'Profile', 'Change password']) }}{% endblock headline %}

{% block content %}
<div class="row-fluid">
<ul class="nav nav-tabs" role="tablist">
    <li><a href="{{ path('user_profile') }}">Main</a></li>
    <li class="active"><a href="#">Password</a></li>
    <li><a href="{{ path('user_role') }}">Roles</a></li>
</ul>
</div>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        {% include "MapCoreBundle::form.html.twig" %}

    </div>
</div>
{% endblock content %}
