<form novalidate="novalidate" class="form-horizontal well" method="post">

    {{ form_widget(form) }}

    <div class="center">
        <button type="submit" class="btn btn-sm btn-info" title="Save">
            {{ icon('ok', true) }}&nbsp;&nbsp;Save&nbsp;&nbsp;
        </button>
    </div>
</form>
