<form novalidate="novalidate" id="formDel" class="form-horizontal well"
     method="post">

    {{ form_widget(form) }}

    <div class="center">
        <a class="btn btn-sm btn-cust" href="#modalDel"
           title="Remove" data-toggle="modal">
            {{ icon('remove', true) }}&nbsp;&nbsp;Remove&nbsp;&nbsp;
        </a>
    </div>
</form>

{% include "Map3CoreBundle::modalDelConfirm.html.twig" %}