{% include 'Map3CoreBundle::flashes.html.twig' %}

<ol class="breadcrumb">
    <li class="active">Add scenario</li>
</ol>

<form id="formPanel" novalidate="novalidate" class="form-horizontal well" method="post">

    {{ form_widget(form) }}

    <div  class="form-group">
        <label for="gherkin-editor" class="control-label col-sm-3 optional">
            Steps
        </label>
        <div class="col-sm-9">
        <div class="row-fluid gherkin-editor-panel" id="gherkin-editor">{{ form.vars.value.steps }}</div>
        </div>
    </div>
        
    <div class="center">
        <a class="btn btn-sm btn-cust" onclick="formSubmit();" title="Save">
            {{ icon('ok', true) }}&nbsp;&nbsp;Save&nbsp;&nbsp;
        </a>
    </div>
</form>

<script>
    var editor = ace.edit("gherkin-editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/gherkin");
    document.getElementById("gherkin-editor").style.fontSize='13px';
    editor.setReadOnly(false);
    editor.setHighlightActiveLine(false);
</script>

<script>
function formSubmit() {
    $("#map3_scenario_steps").val(editor.getValue());
    $.post('{{ path('bln-sce_add', {'nid': nodeId}) }}', $("#formPanel").serialize(), function (resp) {
        $("div.node-panel").hide();
        $("div.node-panel").html(resp).show();
    }).fail(function(jqXHR, textStatus, errorThrown) {

        displayError(jqXHR.responseJSON, jqXHR.status);
        $("div.node-panel").hide();
    });
}
</script>
