{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Check email{% endblock title %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}
