{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Password already requested{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block headline %}My Agile Project{% endblock headline %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
